* {
  cursor: none;
}

.search-dialog, .fancybox__container {
  *{cursor: auto;}
}

#cursor {
  position: fixed;
  top: calc(var(--height) / -2);
  left: calc(var(--width) / -2);
  width: var(--width);
  height: var(--height);
  background-color: #95bcd6;
  /* mix-blend-mode: difference; */
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
}

#cursor-border {
  --size: 28px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color:  #5c565156;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
    height 0.15s ease-out, background-color 0.15s ease-out;
  z-index: 999;
}